@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

body {
  background-color: #f5f7fa;
}

.page {
  margin: 40px auto;
  max-width: 1200px;
  background-color: #fff;
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
}

.sidebar {
  max-width: 370px;
  background-color: #1e2939;
  color: #fff;
}

.sidebar__container {
  margin-left: 40px;
}

.sidebar__title {
  margin-bottom: 8px;
}

.sidebar__span {
  font-weight: 700;
  margin-right: 12px;
  line-height: 24px;
}

.sidebar__link {
  opacity: 0.5;
}

.sidebar__link--underline:hover {
  text-decoration: underline;
}

.sidebar__item {
  margin-bottom: 45px;
}

.sidebar__item:last-child {
  margin-bottom: 0;
}

.img {
  margin-top: 40px;
  margin-bottom: 50px;
}
